.git
.idea
*.code-workspace
.vscode/*
node_modules
nbproject
/.dev-server

# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt
/iob_npm.done
