/* You can delete those if you want. I just found them very helpful */
* {
	box-sizing: border-box
}
.m {
	/* Don't cut off dropdowns! */
	overflow: initial;
}
.m .switch label .lever {
	z-index: -1;
}
/* Add your styles here */
